export(BayesFactor,
       caterpillar.plot,
       CenterScale,
       Consort,
       dbern,
       ddirichlet,
       dinvgamma,
       dinvwishart,
       dlaplace,
       dmvn,
       dmvt,
       dtrunc,
       dwishart,
       ESS,
       extrunc,
       Geweke.Diagnostic,
       HPD,
       invlogit,
       joint.density.plot,
       LaplaceApproximation,
       LaplacesDemon,
       logit,
       Mode,
       pbern,
       plaplace,
       ptrunc,
       qbern,
       qlaplace,
       qtrunc,
       rbern,
       rdirichlet,
       rinvgamma,
       rinvwishart,
       rlaplace,
       rmvn,
       rmvt,
       rtrunc,
       rwishart,
       vartrunc)

S3method("predict","demonoid")
S3method("predict","laplace")
S3method("print","demonoid")
S3method("print","laplace")
S3method("plot","demonoid")
S3method("plot","laplace")
S3method("plot","demonoid.ppc")
S3method("plot","laplace.ppc")
S3method("summary","demonoid.ppc")
S3method("summary","laplace.ppc")
