export(BayesFactor,
       caterpillar.plot,
       CenterScale,
       Consort,
       Cov2Cor,
       dbern,
       ddirichlet,
       dhalfcauchy,
       dhalft,
       dinvgamma,
       dinvwishart,
       dlaplace,
       dmvn,
       dmvt,
       dst,
       dtrunc,
       dwishart,
       ESS,
       extrunc,
       Geweke.Diagnostic,
       HPD,
       indmat,
       interval,
       invlogit,
       joint.density.plot,
       LaplaceApproximation,
       LaplacesDemon,
       logit,
       Mode,
       parm.names,
       pbern,
       phalfcauchy,
       phalft,
       plaplace,
       pst,
       ptrunc,
       qbern,
       qhalfcauchy,
       qhalft,
       qlaplace,
       qst,
       qtrunc,
       rbern,
       rdirichlet,
       rhalfcauchy,
       rhalft,
       rinvgamma,
       rinvwishart,
       rlaplace,
       rmvn,
       rmvt,
       rst,
       rtrunc,
       rwishart,
       vartrunc)

S3method("predict","demonoid")
S3method("predict","laplace")
S3method("print","demonoid")
S3method("print","laplace")
S3method("plot","demonoid")
S3method("plot","laplace")
S3method("plot","demonoid.ppc")
S3method("plot","laplace.ppc")
S3method("summary","demonoid.ppc")
S3method("summary","laplace.ppc")
