export(caterpillar.plot,
       CenterScale,
       Consort,
       dbern,
       ddirichlet,
       dinvgamma,
       dinvwishart,
       dlaplace,
       dmvn,
       dmvt,
       dtrunc,
       dwishart,
       ESS,
       extrunc,
       Geweke.Diagnostic,
       HPD,
       IVO,
       LaplacesDemon,
       pbern,
       plaplace,
       ptrunc,
       qbern,
       qlaplace,
       qtrunc,
       rbern,
       rdirichlet,
       rinvgamma,
       rinvwishart,
       rlaplace,
       rmvn,
       rmvt,
       rtrunc,
       rwishart,
       vartrunc)

S3method("predict","demonoid")
S3method("print","demonoid")
S3method("plot","demonoid")
S3method("plot","demonoid.ppc")
S3method("summary","demonoid.ppc")
